USE [master]
GO
/****** Object:  Database [crud]    Script Date: 7/30/2021 12:06:00 PM ******/
CREATE DATABASE [crud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'crud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\crud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'crud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\crud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [crud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [crud]
GO
/****** Object:  Table [dbo].[NV]    Script Date: 7/30/2021 12:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [int] NULL,
	[Pass] [nvarchar](50) NULL,
	[Adress] [nvarchar](50) NULL,
	[Emoji] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[NV] ([ID], [Name], [Email], [Phone], [Pass], [Adress], [Emoji]) VALUES (N'Aa1', N'Sang', N'A@a.com', 10, N'Aa123456', N'80 duong truong tho, quan thu duc', NULL)
INSERT [dbo].[NV] ([ID], [Name], [Email], [Phone], [Pass], [Adress], [Emoji]) VALUES (N'Bb2', N'Bang', N'B@b.com', 10111, N'Bb123456', N'80 duong truong tho, quan thu duc', NULL)
INSERT [dbo].[NV] ([ID], [Name], [Email], [Phone], [Pass], [Adress], [Emoji]) VALUES (N'Cc3', N'Cang', N'C@b.com', 10222, N'Cc123456', N'80 duong truong tho, quan thu duc', NULL)
GO
USE [master]
GO
